<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Conheça o plano Fale Mais
    </h1>
  </div>
</div>

<div class="card mt-5">
  <div class="card-body">
    <p class="h6">
      A VxTel, empresa especializada em chamadas de longa distância nacional,
      acaba de lançar o seu mais novo produto no mercado chamado <strong>FaleMais</strong>. <br><br>
      Atualmente um cliente VxTel pode fazer uma chamada de uma cidade para outra pagando
      uma tarifa fixa por minuto, com o preço pré-definido em uma lista com os códigos DDDs
      de origem e destino:
    </p>

    <div class="form-row justify-content-center mb-3">
      <img src="./../../../../assets/images/tariffs_list.png" class="img-fluid" alt="Lista de tarifas">
    </div>

    <p class="h6">
      Com o novo produto <strong>FaleMais</strong> da VxTel ao adquirir um plano o cliente pode
      falar de graça até um determinado tempo (em minutos) e só paga os minutos excedentes. Os minutos
      excedentes tem um acrescimo de 10% sobre a tarifa normal do minuto. Atualmente temos os planos
      <strong>FaleMais 30</strong> (30 minutos), <strong>FaleMais 60</strong> (60 minutos) e
      <strong>FaleMais 120</strong> (120 minutos). <br><br>
      Faça já os cálculos das suas ligações e escolha o plano que melhor se encaixa no seu perfil.
      <strong> Clique no botão abaixo: </strong>
    </p>
    <div class="form-row justify-content-center">
      <div class="col-md-4">
        <a routerLink="/calcular-tarifa" class="btn btn-block">
           <button class="btn btn-primary btn-lg btn-block mt-3">Calcular</button>
        </a>
      </div>
    </div>
   </div>
</div>
